# Dependências
/node_modules

# Build do Docusaurus
/build
/.docusaurus

# Playwright
/test-results
/playwright-report
/playwright/.cache

# Caches e logs
.cache-loader
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Ambiente
.env.local
.env.*.local
